# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.npmrc
auto-imports.d.ts
src/infra/api/.openapi-generator/FILES
src/infra/api/.openapi-generator/VERSION
src/infra/api/.openapi-generator-ignore
src/infra/api/git_push.sh
openapitools.json
src/infra/api/docs
