.systemLogoContainer {

}

.systemLogo {
  height: 64px;
  width: 64px;
  background-color: var(--ant-color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white
}

.routesContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  gap: 1rem;
}

.sidebar {
  background-color: tomato;
  width: 75px
}
