.sidebar {
  background-color: var(--ant-color-bg-container);
  width: 75px;
  border-inline-end: 1px rgba(5,5,5, 0.06) solid
}

.systemLogoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.systemLogo {
  height: 64px;
  width: 64px;
  background-color: var(--ant-color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white
}

.sidebarItemsContainer {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-height: 0;
  gap: 1rem;
  align-items: center;
}


.sidebarItem {
  transition: .4s;
  height: 48px;
  width: 48px;
  background-color: transparent;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ant-color-primary);
}

.itemIcon {
  font-size: 20px;
}

.sidebarItem:hover {
  background-color: var(--ant-color-primary);
  color: white;
}

