.layoutContainer{
  display: flex;
  width: 100%;
  height: 100%;
}

.contentContainer {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.topbar {
  width: 100%;
  height: 60px;
}

.contentPage {
  width: 100%;
  height: 100%;
}

