.itemsSection {
  margin-top: 24px;
}

.itemsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.itemsTitle {
  font-weight: 600;
  font-size: 14px;
}
