
.topbarContainer {
  background-color: var(--ant-color-bg-container);
  width: 100%;
  height: 60px;
  min-height: 60px;
  border-block-end: 1px rgba(5, 5, 5, 0.06) solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  gap: 0.5rem;
}

.pageTitle {
  font-size: 16px;
  font-weight: 600;
  color: var(--ant-color-text);
}

.topbarActions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 20px;
}
