.customerCrudPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  gap: 24px
}

.crudPageHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.customersTable {
  height: 100%;
  min-height: 0;
}

